

<div id="<%= question.id %>">
  <%= link_to question.description_a, question_path(question,
                                                    question: {
                                                      votes_a: question.votes_a + 1
                                                    }), method: :patch, remote: true %>
  <%= question.votes_a %>
  <br>
  or
  <br>
  <%= link_to question.description_b, question_path(question,
                                                    question: {
                                                      votes_b: question.votes_b + 1
                                                      }), method: :patch, remote: true %>
  <%= question.votes_b %>

  <br><br>
</div>
