<div class="well" id="<%= question.id %>">

  <div class="choice third">
    <%= image_tag question.image_a.url(:medium), :class => "style_image" %>

    <div class="caption">

      <span id="<%= question.id %>_description_a">
        <%= link_to question.description_a, question_path(question,
                                                          question: {
                                                            votes_a: question.votes_a + 1
                                                          }), method: :patch, remote: true, class: "style_link" %>
                                                        </span>
      <span id="<%= question.id %>_votes_a"></span>
    </div>
  </div>

  <div class="or third">
    or
  </div>

  <div class="choice third">

    <%= image_tag question.image_b.url(:medium), :class => "style_image"  %>

    <div class="caption">

      <span id="<%= question.id %>_description_b">
        <%= link_to question.description_b, question_path(question,
                                                          question: {
                                                            votes_b: question.votes_b + 1
                                                            }), method: :patch, remote: true, class: "style_link" %>
      </span>
      <span id="<%= question.id %>_votes_b"></span>
    </div>

  </div>
    <br><br>
    <p id="<%=question.id %>_total_votes" class="text-right"><%= question.votes_a + question.votes_b %> total vote(s)</p>

  <% if current_user && current_user.id == question.user_id %>
    <%= link_to "(remove)", question, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
  <% end %>
</div>
